<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account - Reset Password</title>
    <%- include('includes/meta') %>
  </head>
  <body>
    <header class="heroHeader">
      <h2 class="text-2xl font-bold">Reset Password Request</h2>
    </header>
    <div>
      <p>Hi, <strong class=""><%= recipientName %></strong></p>
      <p>
        We received a request from the email,
        <strong> <%= recipientEmail %> </strong> to reset your account password.
      </p>

      <div class="my-10">
        <button type="button" class="cta">Confirm password reset</button>
        <p class="my-3 text-center">
          <small class="block">
            If for any reason the above button is not clickable, please copy the
            link below and paste it in a browser.
          </small>
          <a href="<%= confirmationLink %>"><%= confirmationLink %></a>
        </p>
      </div>

      <strong class="text-center block my-3">
        If this wasn't you, please ignore and report this activity?
      </strong>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
