<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account confirmation</title>
    <%- include('includes/meta') %>
    <%- include('style/main') %>
  </head>

  <body>
    <div>
      <div>
        <header class="heroHeader">
          <div>
            <span
              style="
                background: #0b5cbe;
                border-radius: 50px;
                height: 80px;
                width: 80px;
                margin: auto;
                border: 2px solid #fff;
                display: inline-flex;
                justify-content: center ;
                align-items: center;
              "
            >
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAYAAAAWGF8bAAAAY0lEQVQ4je3SWw2AMAyF4UlACpImCQk4ACdIQcLP0xLC2iVrzyPnufnSWymCADtwAYsKazmVGED9MREGbMCqwlrh7aFTY36KOzS0Mw9NHcBAj/Q1jY7i2ACNYwaax17o8C+9PK8tXWMmWPR7AAAAAElFTkSuQmCC"
                alt="check"
              />
            </span>
          </div>
          <h2 class="text-2xl font-bold">Account confirmation</h2>
        </header>
      </div>

      <p class="mb-3">Hi, <strong><%= recipientEmail %></strong></p>

      <div>
        <p>Thank you for signing up with <%= companyName %></p>
        <p>
          Click the button below to verify your email address below.
        </p>
        <% if(extraComment) {%> <%_ extraComment _%>
        <div class="extras">
          <%= password %>
        </div>
        <%} %>
      </div>

      <div class="my-10">
        <a href="<%= confirmationLink %>">
          <button type="button" class="cta">Confirm account</button>
        </a>
        <p class="my-3 text-center">
          <small class="block">
            If for any reason the above button is not clickable, please copy the
            link below and paste it in a browser.
          </small>
          <a href="<%= confirmationLink %>"><%= confirmationLink %></a>
        </p>
      </div>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
